@font-face {
  font-family: 'Reboto';
  src: local('Reboto'), url(./fonts/RobotoCondensed-Regular.ttf) format('truetype');
}
body {
  font-family: Reboto !important;
}

:root {
  --placeholder: #ced4da;
  --border: #ced4da;
  --dark: #1e2022;
  --dark-purple: #302e53;
  --orange: #d07017;
}

